/* BASE */
* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-weight: 700;
    font-size: 16px;
}

.container {
    max-width: 1400px;
    margin: auto;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: auto;
    height: 60px;
}

header nav {
    margin-right: 50px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-left: 50px;
    padding: 30px 15px 30px 25px;
    border-top: 3px solid #0065FC;
    border-color: transparent;
}

header nav ul li:hover {
    border-color: #0065FC;
    color: #0065FC;
}

/* HOME */

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    height: 270px;
    margin: 10px 0 10px 0;
}

.home_desc {
    line-height: 2;
}

/* HOME SEARCH */

.home_form form {
    width: auto;
    height: 50px;
    /* change height of search and submit */
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 10px 0;
}

.home_form i {
    padding: 15px 20px 15px 20px;
    background-color: #F2F2F2;
    color: #333333;
    border-radius: 15px 0 0 15px;
    font-size: 20px;
}

.home_form_search {
    width: auto;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    border-style: none;
    padding-left: 15px;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
}

.home_form_submit {
    width: 130px;
    height: 100%;
    padding: 0 15px;
    border-radius: 0 15px 15px 0;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    background-color: #0065FC;
}

/* HOME INFO */

.home_info {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}

.home_info i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #0065FC;
    background-color: #ffffff;
    border-radius: 50%;
    border: solid 2px #f2f2f2;
    height: 10px;
    width: 10px;
    padding: 10px;
    margin-right: 15px;
}


/* FILTERS */

.home_filter {
    display: flex;
    align-items: baseline;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.home_filter i {
    font-size: 18px;
    margin-right: 10px;
    background-color: #0065FC;
    position: relative;
    border-radius: 5px;
}

.home_filter ul {
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    height: auto;
    margin: 10px 0 10px 0;
}

.home_filter ul li {
    display: flex;
    align-items: center;
    border: solid 2px #f2f2f2;
    border-radius: 20px;
    box-sizing: content-box;
    height: 42px;
    width: auto;
    padding-right: 20px;
}

.home_filter ul li i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    border-radius: 30px;
    padding: 22px;
    right: 5px;
}

.home_filter ul li:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}

.home_filter ul li:hover i {
    background-color: #0065FC;
    color: #DEEBFF;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
}

/* LODGING / POPULAR */

.bloc1 {
    display: flex;
    gap: 30px;
}

.bloc1 section {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 30px;
}

.bloc1 .lodging {
    flex: 7;
}

.bloc1 .popular {
    flex: 3;
}



/* LODGING PART */

.lodging {

    height: auto;
    background: #F2F2F2;
    padding: 40px 40px;
    border-radius: 20px;
}

.lodging h2 {
    margin-bottom: 30px;
}

.main_lodging_hotel {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 430px;
    gap: 30px;
    margin-bottom: 20px;
}

.main_lodging_hotel a {
    flex: 1;
    background-color: white;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 3px #e2dfdff8;
}

.main_lodging_hotel img {
    width: 261px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


.lodging_description {
    display: flex;
    flex-direction: column;
    height: 85px;
    padding: 5px;
    justify-content: space-evenly;
}

.show_more {
    font-weight: 700;
}

/* FA STAR */

.stars .fa-star {
    color: grey;
}

.fa-star.active {
    color: #0065FC;
}


/* POPULAR PART */

.popular {
    height: auto;
    background: #F2F2F2;
    padding: 40px 40px;
    border-radius: 20px;
}

.popular h2 {
    margin-bottom: 30px;
}

.main_popular {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 430px;
    gap: 30px
}

.main_popular a {
    display: flex;
    flex: 1;
    background-color: white;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 3px #e2dfdff8;
}

.main_popular img {
    width: 150px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.popular_description {
    display: flex;
    flex-direction: column;
    height: 120px;
    padding: 5px;
    justify-content: space-evenly;
}


/* ACTIVITY PART */

.bloc2 {
    flex: 1;
}

.activity {
    height: auto;
    gap: 30px
}

.activity h2 {
    margin-top: 30px;
}

.activity h3 {
    padding-left: 10px;
}

.main_activity {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 440px;
    width: 100%;
    gap: 30px
}

.main_activity img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.acti_tall {
    height: 400px;
    width: 25%;
}

.acti_tall img {
    height: 100%;
    width: 100%;
    vertical-align: text-bottom;
}

.acti_column {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.acti_small {
    height: 100%;
    width: 100%;
}

.acti_small img {
    height: 100%;
    width: 300px;
    vertical-align: text-bottom;
}

.smaller { 
height: 100%;
width: 100%;
}

.smaller img {
    height: calc(100% - 175px);
}

.activity_title {
    height: 40px;
    width: 100%;
    padding: 5px;
    background: #FFF;
    border-radius: 0 0 20px 20px;
    border: solid 1px #f2f2f2;
    box-shadow: 0px 2px 5px 0px #e2dfdff8;
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    margin-top: 100px;
    padding: 50px 50px 50px;
    background-color: #F2F2F2;
}

.footer__info {
    flex: 1;
}