/*==============================================================*/
/*========================== DESKTOP ===========================*/
/*==============================================================*/

.only_mobile {
    display: none !important;
}

/* BASE */
* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    font-size: 16px;

}

a {
    text-decoration: none;
    color: #000;
}

img {
    object-fit: cover;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-weight: 700;
    font-size: 16px;
}

.container {
    max-width: 1400px;
    margin: auto;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: auto;
    height: 60px;
}

header nav {
    margin-right: 50px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    min-width: 200px;
    padding: 40px 50px;
    border-top: 3px solid #0065FC;
    border-color: transparent;
    font-size: 20px;
    text-align: center;
}

header nav ul li:hover,
header nav ul li.active {
    border-color: #0065FC;
}

header nav ul li:hover a,
header nav ul li.active a {
    color: #0065FC;
    font-weight: bold;
}


/* HOME */

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    height: 270px;
    margin: 10px 0 10px 0;
}

.home_desc {
    line-height: 2;
}

/* HOME SEARCH */

.home_form form {
    width: auto;
    height: 50px;
    /* change height of search and submit */
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 10px 0;
}

.home_form i:first-child {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    color: #333333;
    border-radius: 15px 0 0 15px;
    font-size: 20px;
}

.home_form_search {
    width: auto;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    border-style: none;
    outline : 0px;
    padding-left: 15px;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
}

.home_form_submit {
    width: 130px;
    height: 100%;
    padding: 0 15px;
    border-radius: 0 15px 15px 0;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    background-color: #0065FC;
}

/* HOME INFO */

.home_info {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}

.home_info i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #0065FC;
    background-color: #ffffff;
    border-radius: 50%;
    border: solid 2px #f2f2f2;
    height: 10px;
    width: 10px;
    padding: 10px;
    margin-right: 15px;
}


/* FILTERS */

.home_filter {
    display: flex;
    align-items: baseline;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.home_filter i {
    font-size: 18px;
    margin-right: 10px;
    background-color: #0065FC;
    position: relative;
    border-radius: 5px;
}

.home_filter ul {
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    height: auto;
    margin: 10px 0 10px 0;
}

.home_filter ul li {
    display: flex;
    align-items: center;
    border: solid 2px #ddd;
    border-radius: 20px;
    box-sizing: content-box;
    height: 42px;
    width: auto;
    padding-right: 20px;
}

.home_filter ul li i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    border-radius: 30px;
    padding: 22px;
    right: 5px;
}

.home_filter ul li:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}

.home_filter ul li:hover i {
    background-color: #0065FC;
    color: #DEEBFF;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
}

/* LODGING / POPULAR */

.bloc1 {
    display: flex;
    gap: 30px;
}

.bloc1 section {
    border-radius: 20px;
    padding: 30px;
}

.bloc1 .lodging {
    flex: 7;
}

.bloc1 .popular {
    flex: 3;
}



/* LODGING PART */

.lodging {
    height: auto;
    background-color: #f2f2f2;
    padding: 40px 40px;
    border-radius: 20px;
}

.lodging h2 {
    margin-bottom: 30px;
}

.main_lodging_hotel {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 436px;
    gap: 30px;
    margin-bottom: 20px;
}

.main_lodging_hotel>div {
    background-color: white;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 3px #e2dfdff8;
    width: calc(33% - 18px);
}

.main_lodging_hotel a {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main_lodging_hotel img {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0;
}


.lodging_description {
    display: flex;
    flex-direction: column;
    height: 70px;
    padding: 5px;
    justify-content: space-evenly;
}

.show_more {
    font-weight: 700;
}

/* FA STAR */

.stars .fa-star {
    color: grey;
}

.fa-star.active {
    color: #0065FC;
}


/* POPULAR PART */

.popular {
    height: auto;
    background: #F2F2F2;
    padding: 40px 40px;
    border-radius: 20px;
}

.popular h2 {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.popular h2 i {
    font-size: 24px;
}

.main_popular {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    gap: 30px
}

.main_popular a {
    display: flex;
    flex: 1;
    background-color: white;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 3px #e2dfdff8;
}

.main_popular img {
    width: 150px;
    height: 120px;
    border-radius: 20px 0 0 20px;
}

.popular_description {
    display: flex;
    flex-direction: column;
    height: 120px;
    padding: 5px;
    margin-left: 5px;
    justify-content: space-evenly;
}

.popstar {
    padding-top: 30px;
}

/* ACTIVITY PART */

.bloc2 {
    flex: 1;
}

.activity {
    margin-top: 60px;
}

.activity h3 {
    padding-left: 10px;
}

.main_activity {
    display: flex;
    margin-top: 20px;
    width: 100%;
    gap: 40px
}

.main_activity img {
    border-radius: 20px 20px 0 0;
}

.acti_tall {
    height: 490px;
    width: 25%;
}

.acti_tall img,
.acti_small img {
    height: calc(100% - 50px);
    width: 100%;
    vertical-align: text-bottom;
}

.acti_column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 25%;
}

.acti_small {
    height: 280px;
    width: 100%;
}

.acti_small.smaller {
    height: 170px;
    width: 100%;
}

.acti_medium {
    height: 225px;
    width: 100%;
}

.acti_medium img {
    height: calc(100% - 48px);
    width: 100%;
    vertical-align: text-bottom;
}

.activity_title {
    height: 50px;
    width: 100%;
    padding: 5px;
    background: #FFF;
    border-radius: 0 0 20px 20px;
    border: solid 1px #f2f2f2;
    box-shadow: 0px 2px 5px 0px #e2dfdff8;
    display: flex;
    align-items: center;
}

/* FOOTER */

footer {
    background-color: #F2F2F2;
}

footer .container {
    display: flex;
    margin-top: 60px;
    padding: 50px 0;
}

.footer__info {
    flex: 1;
}

.footer__info li {
    margin-top: 15px;
}


/*==============================================================*/
/*========================== TABLET ============================*/
/*==============================================================*/

@media screen and (max-width: 991px) and (min-width: 767px) {

    /*BASE*/

    .container {
        margin: 0 30px;
    }

    /* HEADER */

    header nav {
        margin-right: -30px;
    }

    /* HOME */
    .home_form form {
        justify-content: center;
    }

    /* FILTERS */

    .home_filter {
        flex-direction: column;
        align-items: center;
    }

    .home_filter ul li {
        width: 85%;
        margin-left: 10px;
    }

    /* LODGING / POPULAR*/

    .bloc1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .popular_description {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 5px;
        justify-content: space-between;
        flex: 1;
    }

    /* LODGING PART */

    .main_lodging_hotel {
        height: auto;
        margin-bottom: 30px;
    }

    .main_lodging_hotel>div {
        width: calc(50% - 18px);
    }



    /* POPULAR PART */

    .main_popular {
        height: auto;
    }

    .main_popular a {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .main_popular img {
        width: 300px;
        height: 120px;
        border-radius: 20px 0 0 20px;
    }



    /* ACTIVITY PART */

    .activity h2 {
        margin-left: 30px;
    }

    .main_activity {
        display: flex;
        flex-wrap: wrap;
        flex: 0;
    }

    .acti_tall,
    .acti_column {
        width: calc(50% - 20px);
    }
}

/*==============================================================*/
/*=========================== PHONE ============================*/
/*==============================================================*/

@media screen and (max-device-width: 767px) {

    .hide_mobile {
        display: none !important;
    }

    .only_mobile {
        display: inherit !important;
    }

    /* BASE */

    .container {
        margin: 0px;
        width: 100%;
    }


    /* HEADER */

    header {
        flex-direction: column;
    }

    header nav {
        margin-right: 0px;
    }

    header nav ul li {
        padding: 10px 57px;
        border-bottom: 3px solid #0065FC;
        border-top: none;
        border-color: transparent;
    }

    /* HOME */

    .home {
        height: auto;
        margin: 20px;
    }

    /* HOME SEARCH */

    .home_form form {
        justify-content: center;
    }

    .home_form_submit {
        width: 60px;
    }

    /* FILTERS */

    .home_filter ul {
        flex-wrap: wrap;
        width: 70%;
        height: 200px;
        justify-content: left;
    }

    .home_filter {
        flex-direction: column;
    }

    /* LODGING / POPULAR */

    .bloc1 {
        flex-direction: column-reverse;
    }

    .bloc1 section {
        border-radius: 0px;
    }

    .bloc2 section {
        padding: 30px;
        height: 1200px;
    }

    /* POPULAR PART */

    .main_popular {
        gap: 16px;
    }

    .main_popular img {
        height: 138px;
    }

    .popular_description {
        padding: 10px;
        height: auto;
    }

    /* STARS */

    .fa-star {
        font-size: 12px;
    }

    .popstar {
        padding-top: 20%;
    }

    /* LODGING PART */

    .lodging {
        height: auto;
        background-color: #FFFFFF;
    }

    .main_lodging_hotel {
        height: auto;
        gap: 20px
    }

    .main_lodging_hotel>div {
        width: 100%
    }

    /* ACTIVITY PART */

    .activity {
        margin-top: 0px;
    }

    .activity h2 {
        margin-bottom: 30px;
    }

    .main_activity {
        flex-direction: column;
        gap: 25px;

    }

    .main_activity img {
        width: 100%;
        height: 150px;
    }

    .acti_tall,
    .acti_medium,
    .acti_column {
        width: 100%;
        height: 200px;
    }

    .acti_column {
        gap: 25px
    }

    /* FOOTER */

    footer .container {
        margin-top: 50px;
        flex-direction: column;
        padding: 20px;
    }

    footer ul {
        margin-bottom: 40px;
    }
}